{% extends "layout.html" %}
{% import "form.html" as forms with context %}
{% block head %}
    {{ super() }}
    {% block title %} base {% endblock %}
{% endblock %}

{% block body %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">查看</a></li>
            {% if addURL %}
                <li><a href="#2" data-toggle="tab" id="addTab">添加</a></li>
            {% endif %}
            <li><a href="#3" data-toggle="tab" id="updateTab">更新</a></li>
         </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <table class="table table-bordered table-striped" style="text-aligin:center" id="myTable">
                    <thead>
                        <tr>
                            {% for attr in addForm.showAttributes %}
                                <th>{{ addForm[attr].label }}</th>
                            {% endfor %}
                       </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                {% for tInfo in addForm.showAttributes %}
                                    {% if tInfo == "email" %}
                                        <td> <a href="mailto:{{ d[tInfo] }}"> {{ d[tInfo] }}</a></td>
                                    {% elif tInfo =="stuff" and checkType == "base"  %}
                                        <td> <a href="{{ url_for('base.get_entities', base=d['name'], entity='stuff') }}"> 查看员工 </a></td>
                                    {% else %}
                                        <td> {{ d[tInfo] }} </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if addURL %}
                <div class="tab-pane" id="2">
                    {{ forms.myForm(addForm, addURL, "addFrm") }}
                </div>
            {% endif %}

            <div class="tab-pane" id="3">
                {{ forms.myForm(updateForm, updateURL, "updateFrm") }}
            </div>
        </div><!--tab-content -->
    </div>
{% endblock %}



{% block footer %}
    <script src="../static/js/jquery.js"> </script>
    <script src="../static/js/login.js"> </script>
    <script src="../static/js/bootstrap-transition.js"></script>
    <script src="../static/js/bootstrap-alert.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-dropdown.js"></script>
    <script src="../static/js/bootstrap-scrollspy.js"></script>
    <script src="../static/js/bootstrap-tab.js"></script>
    <script src="../static/js/bootstrap-tooltip.js"></script>
    <script src="../static/js/bootstrap-popover.js"></script>
    <script src="../static/js/bootstrap-button.js"></script>
    <script src="../static/js/bootstrap-collapse.js"></script>
    <script src="../static/js/bootstrap-carousel.js"></script>
    <script src="../static/js/bootstrap-typeahead.js"></script>
    <script src="../static/js/air.js"> </script>
{% endblock %}

