{% extends "layout.html" %}
{% block head %}
   {{ super() }}
{% endblock %}


{% block content %}
    <ul class="thumbnails">
        <li class="span3">
          <a class="thumbnail" href="#">
            <img alt="" src="http://placehold.it/260x180">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="#">
            <img alt="" src="http://placehold.it/260x180">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="#">
            <img alt="" src="http://placehold.it/260x180">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="#">
            <img alt="" src="http://placehold.it/260x180">
          </a>
        </li>
      </ul>
{% endblock %}

{% block footer %}
  {{ super }}
{% endblock %}
