.baseupdate {
    -moz-transition: all 5s ease 0.3s;
    -webkit-transition: all 5s ease 0.3s;
    -o-transition: all 5s ease 3s;
    transition: all 5s ease 3s;
}

.desktop_disappear_prepare1 {
    left: 0;
    opacity: 1
}

.desktop_disappear_animation1 {
    opacity: 0;
    left: -2000px;
    -moz-transition: left .5s linear,opacity .2s linear
}
.desktop_show_prepare1 {
    left: 2000px;
    opacity: 0
}
.desktop_show_animation1 {
    left: 0;
    opacity: 1;
    -moz-transition: left .5s linear,opacity .2s linear .25s
}
.desktop_disappear_prepare2 {
    left: 0;
    opacity: 1
}
.desktop_disappear_animation2 {
    left: 2000px;
    opacity: 0;
    -moz-transition: left .5s linear,opacity .2s linear
}

.desktop_show_prepare2 {
    left: -2000px;
    opacity: 0
}

.desktop_show_animation2 {
    left: 0;
    opacity: 1;
    -moz-transition: left .5s linear,opacity .2s linear .25s
}